<div class="container" align="center" style="margin-top: 100px">
  <div class="row align-items-center">
    <div class="col">
      <p style="font-size: 35px">Tessaract OCR</p>
      <hr>
      <p>This application was created by Nhean & Kanitha</p>
      <span class="badge badge-success">Everything is Public</span>
      <br><br>
      <a href = "/images" class="btn btn-outline-info" style="border-radius: 0px">Go to Main Page <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>