.container{:align => "center", :style => "margin-top: 100px"}
  .row.align-items-center
    .col
      %p{:style => "font-size: 35px"} Image2Text
      %hr
        %p This application was created by Nhean  Kanitha
        %span.badge.badge-success Everything is Public
        %br
          %br
            %a.btn.btn-outline-info{:href => "/images", :style => "border-radius: 0px"}
              Go to Main Page
              %i.fa.fa-arrow-right{"aria-hidden" => "true"}
