.row.justify-content-center
  .col-md-9
    %br/
    %h3{:style => "color: #17a2b8"}
      %i.fa.fa-users{"aria-hidden" => "true"}
      About Us
    %hr/
    .row
      .col-md-12
        .card-deck
          .card{:style => "margin-bottom: 15px"}
            = image_tag "Image Profile.jpg", class: "card-img-top"
            .card-body
              %h4.card-title Sodaheang V.
              %p.card-text Being who you are is the best thing that you must do because it is the only thing that define you.
              %p.card-text
                %small.text-muted CS IV, Student, Developer
            .card-body
              %a.card-link.btn.btn-outline-primary{:href => "https://www.facebook.com/vandy.sodanhean"}
                %i.fa.fa-facebook-official{"aria-hidden" => "true"}
              %a.card-link.btn.btn-outline-info{:href => "https://twitter.com/SodanheanVandy"}
                %i.fa.fa-twitter-square{"aria-hidden" => "true"}
              %a.card-link.btn.btn-outline-dark{:href => "https://github.com/Sodanheang/"}
                %i.fa.fa-github-square{"aria-hidden" => "true"}
          .card{:style => "margin-bottom: 15px"}
            = image_tag "Image Profile3.jpg", class: "card-img-top"
            .card-body
              %h4.card-title Kanitha C.
              %p.card-text Being who you are is the best thing that you must do because it is the only thing that define you.
              %p.card-text
                %small.text-muted CS IV, Student, Developer
            .card-body
              %a.card-link.btn.btn-outline-primary{:href => "https://www.facebook.com/chim.kanitha"}
                %i.fa.fa-facebook-official{"aria-hidden" => "true"}
              %a.card-link.btn.btn-outline-info{:href => "https://twitter.com/chimkanitha"}
                %i.fa.fa-twitter-square{"aria-hidden" => "true"}
              %a.card-link.btn.btn-outline-dark{:href => "https://github.com/JaneSoo"}
                %i.fa.fa-github-square{"aria-hidden" => "true"}
          .card
            = image_tag "rails-logo2.png", class: "card-img-top"
            .card-body
              %h4.card-title Ruby on Rails
              %p.card-text Learning to build a modern web application is daunting. Ruby on Rails makes it much easier and more fun.
              %p.card-text
                %small.text-muted Rails Framework
            .card-body
              %a.card-link.btn.btn-outline-info{:href => "http://rubyonrails.org/"}
                %i.fa.fa-globe{"aria-hidden" => "true"}
              %a.card-link.btn.btn-outline-danger{:href => "https://rubygems.org/gems/rtesseract"}
                %i.fa.fa-diamond{"aria-hidden" => "true"}
              %a.card-link.btn.btn-outline-dark{:href => "https://github.com/rails/rails"}
                %i.fa.fa-github-square{"aria-hidden" => "true"}
    %hr/
    %br/
    .row
      .col-md-2{:style => "margin-bottom: 15px"}
      .col-md-2{:style => "margin-bottom: 15px"}
        %a#link-btn.btn.btn-outline-primary{:href => "https://www.facebook.com/vandy.sodanhean"}
          %i.fa.fa-facebook-official{"aria-hidden" => "true"}
          Facebook
      .col-md-2{:style => "margin-bottom: 15px"}
        %a#link-btn.btn.btn-outline-info{:href => "https://twitter.com/SodanheanVandy"}
          %i.fa.fa-twitter-square{"aria-hidden" => "true"}
          Twitter
      .col-md-2{:style => "margin-bottom: 15px"}
        %a#link-btn.btn.btn-outline-dark{:href => "https://github.com/Sodanheang/Rails-Image-to-Text-with-RTessaract-Application"}
          %i.fa.fa-github-square{"aria-hidden" => "true"}
          GitHub
      .col-md-2{:style => "margin-bottom: 15px"}
        %a#link-btn.btn.btn-outline-danger{:href => "#"}
          %i.fa.fa-youtube-square{"aria-hidden" => "true"}
          YouTube
      .col-md-2{:style => "margin-bottom: 15px"}
        %a#link-btn.btn.btn-secondary{:href => "/images"}
          %i.fa.fa-chevron-left{"aria-hidden" => "true"}
          Back
